:root {
  --primary-color: rgb(255, 100, 155);
}

body {
  background-color: rgb(52, 52, 52);
}

.container {
  background-color: rgb(75, 75, 75);
  padding: 5%;
  box-shadow: 1px 1px 20px rgb(67, 67, 67);
}
.headingbar {
  background-color: rgb(255, 255, 255);
  padding: 0.5%;
  text-align: center;
}

.headingbar a {
  padding: 1%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.headingbar a:hover {
  transition: all 200ms ease-in-out;
  color: var(--primary-color);
}

.headingbar strong {
  font-weight: 400;
}

header h4 {
  color: rgb(255, 100, 155);
}

header img {
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgb(62, 62, 62);
}

header a {
  color: rgb(255, 236, 236);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

header a:hover {
  transition: all 200ms eas;
  color: rgb(255, 255, 255);
}

header button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(56, 56, 56);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

header button:hover {
  transform: translateY(-10px);
}

footer a {
  color: var(--primary-color);
}

footer a:hover {
  transition: all 200ms ease-in-out;
  color: pink;
}
/*About Page*/

.box-container {
  text-align: center;
  padding: 0% 10%;
  background: rgb(124, 124, 124);
}

.box-container hr {
  color: white;
}

.container-about {
  background-color: #ffd4e3;
  padding: 1%;
  box-shadow: 1px 1px 5px rgb(67, 67, 67);
}

.projects-container {
  padding: 0% 7%;
  background-color: rgb(82, 82, 82);
  border: 3px solid pink;
  box-shadow: 1px 1px 20px pink;
}

.img-page button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(56, 56, 56);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.img-page button:hover {
  transform: translateY(-10px);
}

.img-page img {
  border-radius: 20px;
  box-shadow: 1px 2px 20px rgb(53, 53, 53);
}

.img-page img:hover {
  transition: all 200ms ease-in-out;
  filter: brightness(1.2);
}

.img-page h6 {
  color: aliceblue;
}

/*Contact*/

.main--container {
  padding: 0% 10%;
}

.contact-main-container {
  padding: 0% 10%;
  background-color: rgb(82, 82, 82);
  border: 3px solid pink;
  box-shadow: 1px 1px 20px pink;
}
video {
  box-shadow: 1px 1px 20px pink;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  color: var(--primary-color);
  font-size: 45px;
  padding: 1%;
}

.info-contact {
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
  box-shadow: 1px 2px 10px rgb(69, 69, 69);
}

.info-contact span {
  text-align: center;
}

.info-contact a {
  color: aquamarine;
  font-size: 22px;
}

.info-contact a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(255, 255, 255);
}

.info-contact h3 {
  color: var(--primary-color);
}

.info-contact h4 {
  color: white;
}

.form-container {
  padding: 0% 20%;
}

form button {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  font-weight: 500;
  border: 10px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(56, 56, 56);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  width: 200px;
  margin: 10px auto;
}

form button:hover {
  transform: translateY(-10px);
}

.data-contact {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  .data-contact {
    display: block;
    text-align: center;
  }
} ;
